/* Workspace */
#merged-workspace {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
}

#merged-workspace .workspace {
    flex: 1;
}

#workspace-sep {
    width: 15px;
    background-color: #bfa3a1;
}

.node:hover, .node.active {
    stroke: #ff5751;
    stroke-width: 5px;
}

/* Top bar */
#top-bar-buttons {
    width: 250px;
}

#sequence-display {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 400px;
    padding: 20px;
    white-space: nowrap;
    overflow-x: auto;
    color: white;
    font-size: 20px;
}
