/* Workspace */
#merged-workspace {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
}

#merged-workspace .workspace {
    flex: 1;
}

#workspace-sep {
    width: 10px;
    background-color: #999;
}

.node:hover, .node.active {
    stroke: #ff5751;
    stroke-width: 5px;
}

/* Top bar */
#top-bar-buttons {
    width: 125px;
}

#sequence-display {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 400px;
    padding: 20px;
    white-space: nowrap;
    overflow-x: auto;
    color: white;
    font-size: 20px;
    cursor: pointer;
    min-width: 70px;
    text-align: center;
    user-select: none;
}

#sequence:active {
    background-color: #bbb;
}
